body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#optimogas path:nth-child(1){
    stroke-dasharray: 100;
   stroke-dashoffset: 2000;
   
 
    animation: laranja 15s ease forwards 1;    
}
#optimogas path:nth-child(2){
    stroke-dasharray: 100;
   stroke-dashoffset: 1000;
   animation: anima 15s ease forwards 1;
   
}

#optimogas path:nth-child(3){
    stroke-dasharray: 10;
   stroke-dashoffset: 2000;
   animation: anima 15s ease forwards 1; 
 
}
#optimogas path:nth-child(4){
    opacity: 0;
    
   
    animation: azul 15s ease forwards 1;  
}
@keyframes anima{
    to{
        stroke-dashoffset: 1000;
        fill: red;
        
    }
}
@keyframes azul{
    
    to{
        fill: blue;
        opacity: 1;
        
    }
}
@keyframes laranja{

    to{
        fill: orange;
    }
}

